!!!
%html
	%head
		%title no result - kusarinoko
		%meta{ :charset => "utf-8" }
		%link{ :rel => :stylesheet, :href => "http://g86.dbcls.jp/~iNut/kusarinoko_stylesheet.css", :type => "text/css" }
		
	%body
		.hako
			.neko
				.message
					%h1
						%strong illegal query
				.caption
					!= "mingya! your search query: " + @query
				.title{ :align => "right" }
					%h2
						%a{ :href => "/" } kusarinoko: Search SRA Entries with PubMed Article
				.subtitle{ :align => "right"} we've got used to be attacked, sorry.
