!!! XML
!!!
%html
  %head
    %title tallsize hot soylatte :)
    %meta{:charset => "utf-8", :content => "text/html", "http-equiv" => "content"}
    // %link{:rel => :stylesheet, :href => "http://floating-fog-3562.heroku.com/fontin_sans.css", :type => "text/css"}
    %link{:rel => :stylesheet, :href => "http://g86.dbcls.jp/~iNut/bootstrap/css/bootstrap.min.css", :type => "text/css"}
    %link{:rel => :stylesheet, :href => "http://g86.dbcls.jp/~iNut/font-awesome/css/font-awesome.min.css", :type => "text/css"}
    %link{:rel => :stylesheet, :href => "/soy_style.css", :type => "text/css"}
    :javascript
      var organismList = #{@organisms};
      $("#typeSpecies").typeahead({source: organismList});
  
  %body
    .container
      %script{ :src => "http://code.jquery.com/jquery-1.8.2.min.js" }
      %script{ :src => "http://g86.dbcls.jp/~iNut/bootstrap/js/bootstrap.js" }
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a.btn.btn-navbar{ "data-toggle" => "collapse", "data-target" => ".nav-collapse" }
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand
              DBCLS SRA metadata search (beta)
            .nav-collapse
              %ul.nav
                %li
                  %a{:href => "/soylatte"} Home
                %li
                  %a{:href => "http://g86.dbcls.jp/chateautogo"}blog
                %li
                  %a{:href => "http://github.com/inutano/sra_metadata_toolkit"}
                    %i.icon-github
                %li
                  %a{:href => "http://twitter.com/inutano"}
                    %i.icon-twitter
      
      .page-header
        %h1
          DBCLS SRA Metadata Search
          %small
            project: Soylatte
      
      %section
        .row
          .span6
            %p.lead Setting search filter
            %form.form-horizontal{ :name => "filters", :action => "/filter", :method => "POST" }
              .control-group  
                %label.control-label{ "for" => "species" } Sample Organism
                .controls
                  %input.input-large.search-query{ :type => "text", :name => "species", :id => "typeSpecies"}
                  //%select{ :id => "species", :name => "species", :width => 66 }
                  //  %option{ :value => "9606" }
                  //    human
                  //  %option{ :value => "10090" }
                  //    mouse
                  //  %option{ :value => "10116" }
                  //    rat
              .control-group
                %label.control-label{ "for" => "study_type" } Study Type
                .controls
                  %select{ :id => "study_type", :name => "study_type", :width => 66 }
                    %option{ :value => "1" }
                      Genome
                    %option{ :value => "2" }
                      Transcriptome
                    %option{ :value => "3" }
                      Epigenome
                    %option{ :value => "4" }
                      Metagenome
                    %option{ :value => "5" }
                      Cancer Genomics
                    %option{ :value => "0" }
                      Other
              .control-group    
                %label.control-label{ "for" => "platform" } Sequencing Instrument
                .controls
                  %select{ :id => "platform", :name => "platform", :width => 66 }
                    - @instruments.each do |instrument|
                      %option{ :value => instrument }
                        instrument
              .control-group
                .controls
                  %button.btn{ :type => "submit" }
                    submit condition
          
          .span6
            %p.lead Fulltext search
            %form.search{ :name => "search", :action => "/search", :method => "POST" }
              %label search without filtering
              %input.input-large.search-query{ :type => "text", :name => "search_query" }
              %button.btn{ :type => "submit" }
                search

      %footer
        powered by
        %a{ :href => "http://dbcls.rois.ac.jp/en" }
          DBCLS
        , project licensed under CC-BY 2.1 JP. /
        Font Awesome by Dave Gandy - 
        %a{ :href => "http://fortawesome.github.com/Font-Awesome" }
          http://fortawesome.github.com/Font-Awesome
