!!! XML
!!!
%html
  %head
    %title
    %meta{:charset => "utf-8", :content => "text/html", "http-equiv" => "content"}
  
  %body
    %header
      %h1 op. soylatte
      %p :)
    
    %section
      %h2 search public high throughput sequencing data
      %hr
      
      %form{ :name => "filters", :action => "/search", :method => "POST" }
        %h4 select filters to reduce search target
        %fieldset
          %legend
            Filtering Option
          %select{ :id => "species", :name => "species" }
            %option{ :value => "9606" }
              human
            %option{ :value => "10090" }
              mouse
            %option{ :value => "10116" }
              rat
          %select{ :id => "study_type", :name => "study_type" }
            %option{ :value => "D" }
              Genomic Sequence
            %option{ :value => "R" }
              Transcriptomic Sequence
            %option{ :value => "M" }
              Metagenomic Sequence
          %select{ :id => "platform", :name => "platform" }
            %option{ :value => "MiSeq" }
              Illumina MiSeq
            %option{ :value => "IonProton" }
              Ion Proton
            %option{ :value => "GridION" }
              GridION
        %button{ :type => "button" }
          check
        
        %h4 keyword search with fileters selected above
        %input{ :type => "text", :name => "keyword", :width => 86 }
        %input{ :type => "submit", :value => "search" }
        
      
    %footer
      powered by
      %a{ :href => "http://dbcls.rois.ac.jp/en" }
        DBCLS
      , project licensed under CC-BY 2.1 JP
