!!!
!!! 5
%html
  %head{:lang => "en"}
    %meta{:charset => "UTF-8"}
    %title DBCLS SRA
    %link{:href => "css/sra15.css", :rel => "stylesheet"}
    %link{:href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %script{:src => "https://code.jquery.com/jquery-1.11.2.min.js", :type => "text/javascript"}
    %script{:src => "js/d3.min.js"}
    %script{:src => "js/bootstrap.min.js"}

  %body
    #container
      #header
        .content
          / Header section
          .box.box1
            %h1
              DBCLS
              %span.or SRA
          .box.box2
            %img{:src => "images/DBCLS_SRA_logo.png"}
          .box.box3
            %p
              %span.em DISCOVER
              %br
                Interesting &amp; Available SRA Data

      - if @not_found
        .news
          .alert.alert-warning.alert-dismissible{ :role => "alert" }
            %button.close{ :type => "button", "data-dismiss" => "alert", "aria-label" => "Close"}
              %span{ "aria-hidden" => "true" }
                &times;
            404 Not Found

      #main
        .content
          / Trends section
          %h2 Trends &amp; Search SRA data
          .row
            .box-r
              →
              %a{:href => "/trends"} for more detail
          .row.trends
            .box.tob
              %h3 Species
              #col1_list.ranking
              #col1_bars.col_bars
              #col1_form
                %input{:placeholder => " Search", :size => "15", :type => "text"}/
            .box
              %h3 Study Type
              #col2_list.ranking
              #col2_bars.col_bars
              #col2_form
                %select#select_type{:name => "type"}
                  %option.disabled{:disabled => true, :selected => true, :value => ""} Select your option
                  %option{:value => "Genome"} Whole Genome Sequencing
                  %option{:value => "Transcriptome"} Transcriptome Analysis
                  %option{:value => "Epigenetics"} Epigenetics
                  %option{:value => "Metagenomics"} Metagenomics
                  %option{:value => "Cancer Genomics"} Cancer Genomics
                  %option{:value => "Other"} Other
                  %option{:value => ""} None
                  /
                    %option{:value => "Resequencing"} Resequencing
                    %option{:value => "RNASeq"} RNASeq
                    %option{:value => "Genomics"} Population Genomics
                    %option{:value => "Gene"} Gene Regulation Study
                    %option{:value => "Exome Sequencing"} Exome Sequencing
                    %option{:value => "Pooled Clone Sequencing"} Pooled Clone Sequencing
                    %option{:value => "Synthetic Genomics"} Synthetic Genomics
                    %option{:value => "Forensic or Paleo-genomics"} Forensic or Paleo-genomics
            .box
              %h3 Platform
              #col3_list.ranking
              #col3_bars.col_bars
              #col3_form
                %input{:placeholder => " Search", :size => "15", :type => "text"}/
            .box
              %h3 Usage
              .lists
                %ul
                  %li Click bars or bubbles and you can see more details of selected data.
                  %li Input keywords and you can view ratio of feature selection.
                  %li You can see result of combined search criteria too.
              %h3 Search Conditions
              #search_condition
                %ul.species
                %ul.type
                %ul.platform
                %ul.search_result
          .row.search
            %h3 Free Keyword
            %input#free_keyword{:name => "search_query", :placeholder => "Free Keyword", :size => "40", :type => "text"}
              %button#submit_condition Submit Conditon

          .row
            .box-r
              →
              %a{:href => "cgi-bin/taxon2study.cgi"} Advanced Taxonomy Search (β)

          / Publication section
          %h2 Publications
          .row
            .box-r
              →
              %a{:href => "/trends#fpl"} Full Publication List

          %h3 New Publications
          .row.hot
            #hot-ele-1.hot-ele
              .icon
                %img{:src => "http://g86.dbcls.jp/~togoriv/wp-content/uploads/2011/08/mouse_sm.png", :width => "50px"}
              .boxtitle
                Other
                %br
                  Hiseq 2500
              .ttl
                %a{:href => "http://trace.ddbj.nig.ac.jp/DRASearch/study?acc=DRP002445"}
                  Genome Reseq for res investigation of STAP cell
              .impact-high
                .pub-yr 2014
                .pub-journal Nature
            #hot-ele-2.hot-ele
              .icon
                %img{:src => "http://g86.dbcls.jp/~togoriv/wp-content/uploads/2011/08/mouse_sm.png", :width => "50px"}
              .boxtitle
                Transcriptome
                %br
                  Helicos HeliScope
              .ttl
                %a{:href => "http://trace.ddbj.nig.ac.jp/DRASearch/study?acc=DRP001032"}
                  A promoter level mammalian exp atlas
              .impact-high
                .pub-yr 2014
                .pub-journal Nature
            #hot-ele-3.hot-ele
              .icon
                %img{:src => "http://g86.dbcls.jp/~togoriv/wp-content/uploads/2011/08/mouse_sm.png", :width => "50px"}
              .boxtitle
                Transcriptome
                %br
                  Helicos HeliScope
              .ttl
                %a{:href => "http://trace.ddbj.nig.ac.jp/DRASearch/study?acc=DRP001032"}
                  A promoter level mammalian exp atlas
              .impact-high
                .pub-yr 2014
                .pub-journal Nature
            #hot-ele-4.hot-ele
              .icon
                %img{:src => "http://g86.dbcls.jp/~togoriv/wp-content/uploads/2011/08/mouse_sm.png", :width => "50px"}
              .boxtitle
                Transcriptome
                %br
                  Helicos HeliScope
              .ttl
                %a{:href => "http://trace.ddbj.nig.ac.jp/DRASearch/study?acc=DRP001032"}
                  A promoter level mammalian exp atlas
              .impact-high
                .pub-yr 2014
                .pub-journal Nature
          %h3 Hot Publications
          .row.hot
            #odd-ele-1.odd-ele{:style => ""}
              .icon
                %img{:src => "http://g86.dbcls.jp/~togoriv/wp-content/uploads/2011/08/mouse_sm.png"}
              .boxtitle
                Transcriptome
                %br
                  Illumina HiSeq 1500
              .ttl
                %a{:href => "http://trace.ddbj.nig.ac.jp/DRASearch/study?acc=SRP038104"}
                  %span{:style => "text-decoration: line-through;"}
                    Bidirectional developmental potential in reprogrammed cells with acquired pluripotency
              .impact-high
                .pub-yr 2014
                .pub-journal Nature
            #odd-ele-2.odd-ele{:style => ""}
              .icon
                %img{:src => "http://g86.dbcls.jp/~togoriv/wp-content/uploads/2011/08/mouse_sm.png"}
              .boxtitle
                Epigenetics
                %br
                  Illumina HiSeq 2000
              .ttl
                %a{:href => "http://trace.ddbj.nig.ac.jp/DRASearch/study?acc=SRP012539"}
                  PRMT5-mediated histone H4 arginine-3 symmetrical dimethylation ...
              .impact-middle
                .pub-yr 2013
                .pub-journal Nucleic Acids Res
            #odd-ele-3.odd-ele{:style => ""}
              .icon
                %br
              .boxtitle
                Other
                %br
                  Illumina Genome Analyzer II
              .ttl
                %a{:href => "http://trace.ddbj.nig.ac.jp/DRASearch/study?acc=SRP028632"}
                  a tool for genome-wide discovery of subgenome-specific base-identity
                  in polyploids
              .impact-low
                .pub-yr 2013
                .pub-journal BMC Genomics
            #odd-ele-4.odd-ele{:style => ""}
              .icon
                %img{:src => "http://g86.dbcls.jp/~togoriv/wp-content/uploads/2011/09/Rice_sm.png"}
              .boxtitle
                Whole Genome Seq
                %br
                  Illumina HiSeq 2000
              .ttl
                %a{:href => "http://trace.ddbj.nig.ac.jp/DRASearch/study?acc=SRP022168"}
                  Genomewide Variation in an Introgression Line of Rice-Zizania ...
              .impact-low
                .pub-yr 2013
                .pub-journal PLOS One
      #footer
        .content
          / Footer section
          %a{:href => "http://creativecommons.org/licenses/by/3.0/", :rel => "license"}
            %img{:alt => "Creative Commons License", :src => "https://i.creativecommons.org/l/by/3.0/80x15.png", :style => "border-width:0"}
          %span{:property => "dct:title", "xmlns:dct" => "http://purl.org/dc/terms/"}
            DBCLS SRA
          is licensed under a
          %a{:href => "http://creativecommons.org/licenses/by/3.0/", :rel => "license"}
            Creative Commons Attribution 3.0
          Unported License

    %script{:src => "js/ranking_species.js"}
    %script{:src => "js/ranking_platform.js"}
    %script{:src => "js/ranking_study.js"}

    :javascript
      var query_species = "";
      var query_platform = "";
      var query_type = "";
      var search_query = "";
      $(document).ready(function(){
        $("#free_keyword").change(function(){
          search_query = $("#free_keyword").val();
          console.log(search_query);
        });
        $("#submit_condition").click(function(){
          window.location = "./search?species=" + query_species +"&type=" + query_type + "&instrument=" + query_platform +"&search_query=" + search_query;
        });
      })
