!!! XML
!!!
%html
  %head
    %title
    %meta{:charset => "utf-8", :content => "text/html", "http-equiv" => "content"}
  
  %body
    %header
      %h1 op. soylatte
      %p :)
    
    %section
      %h2 search public high throughput sequencing data
      %hr
      
      %h4 select search target by following filters;
      %form{ :action => "", :method => "POST" }
        %fieldset
          %select{ :id => "species", :name => "species" }
            %option{ :value => "9606" }
              human
            %option{ :value => "10090" }
              mouse
            %option{ :value => "10116" }
              rat
          %select{ :id => "study_type", :name => "study_type" }
            %option{ :value => "D" }
              Genomic Sequence
            %option{ :value => "R" }
              Transcriptomic Sequence
            %option{ :value => "M" }
              Metagenomic Sequence
          %select{ :id => "platform", :name => "platform" }
            %option{ :value => "MiSeq" }
              Illumina MiSeq
            %option{ :value => "IonProton" }
              Ion Proton
            %option{ :value => "GridION" }
              GridION
          %input{ :type => "submit", :value => "submit" }
    
    %footer
      powered by
      %a{ :href => "http://dbcls.rois.ac.jp/en" }
        DBCLS
      , project licensed under CC-BY 2.1 JP
