!!!
%html
	%head
		%title kusarinoko
		%meta{ :charset => "utf-8" }
		%link{ :rel => :stylesheet, :href => "/kusarinoko/stylesheet.css", :type => "text/css" }
		
	%body
		.hako
			.neko
				%form{ :action => "/kusarinoko/result", :method => "POST" }
					%filedset
						%legend
							.caption find the dataset from SRA, which exactly you want. 
							%p
								%input{ :type => "radio", :name => "species", :value => "all", :checked => "true" }
								%label{ :for => "all" } all

								%input{ :type => "radio", :name => "species", :value => "human" }
								%label{ :for => "human" } human

								%input{ :type => "radio", :name => "species", :value => "mouse" }
								%label{ :for => "mouse" } mouse

								%input{ :type => "radio", :name => "species", :value => "arabidopsis" }
								%label{ :for => "arabidopsis" } arabidopsis

							%p
								%input{ :type => "text", :id => "query", :name => "query", :size => "38", :maxlength => "86" }
								%input{ :type => "submit", :value => "search!", :margin => "10px" }

							
				.title{ :align => "right" }
					%h2 kusarinoko: Search SRA Entries with PubMed Article
				.subtitle{ :align => "right"} paper never tells all: and you know SRA entries never do, too. 
