!!!
%html
	%head
		%title no result - kusarinoko
		%meta{ :charset => "utf-8" }
		%link{ :rel => :stylesheet, :href => "/kusarinoko/stylesheet.css", :type => "text/css" }
		
	%body
		.hako
			.neko
				.message
					%h1 No dataset found
				.caption try again. your search query: #{@query}
				.title{ :align => "right" }
					%h2
						%a{ :href => "/kusarinoko" } kusarinoko: Search SRA Entries with PubMed Article
				.subtitle{ :align => "right"} ...or, who has to make that data is you.
