!!! XML
!!!
%html
  %head
    %title NOT FOUND
    %meta{:charset => "utf-8", :content => "text/html", "http-equiv" => "content"}
    %link{:rel => :stylesheet, :href => "http://g86.dbcls.jp/~iNut/bootstrap/css/bootstrap.min.css", :type => "text/css"}
    %link{:rel => :stylesheet, :href => "http://g86.dbcls.jp/~iNut/font-awesome/css/font-awesome.min.css", :type => "text/css"}
    %link{:rel => :stylesheet, :href => "/style.css", :type => "text/css"}
      
  %body
    .container
      %script{ :src => "http://code.jquery.com/jquery-1.8.2.min.js" }
      %script{ :src => "http://g86.dbcls.jp/~iNut/bootstrap/js/bootstrap.js" }
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a.btn.btn-navbar{ "data-toggle" => "collapse", "data-target" => ".nav-collapse" }
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand
              DBCLS SRA metadata search (beta)
            .nav-collapse
              %ul.nav
                %li
                  %a{:href => "/soylatte"} Home
                %li
                  %a{:href => "http://g86.dbcls.jp/chateautogo" } Blog
                %li
                  %a{:href => "http://github.com/inutano/sra_metadata_toolkit", "data-toggle" => "tooltip", "title" => "github repo"}
                    %i.icon-github
                %li
                  %a{:href => "http://twitter.com/inutano", "data-toggle" => "tooltip", "title" => "Twitter" }
                    %i.icon-twitter
                :javascript
                  $("a").tooltip({
                    'selector': '',
                    'placement': 'bottom'
                  });
      
      .page-header
        %h1
          DBCLS SRA Metadata Search
          %small
            project: Soylatte
      
      %section
        .row
          %p.lead 404 Not Found
          .span6
            %p.lead Setting search filter
            %form.form-horizontal{ :name => "filters", :action => "/filter", :method => "POST" }
              .control-group  
                %label.control-label{ "for" => "species" } Sample Organism
                .controls
                  %input.input-large.search-query#typeSpecies{ :type => "text", :name => "species", :placeholder => "Type scientific name" }
                  :javascript
                    var organismList = #{@organisms};
                    $('#typeSpecies').typeahead({source: organismList});
              .control-group
                %label.control-label{ "for" => "study_type" } Study Type
                .controls
                  %select{ :id => "study_type", :name => "study_type", :width => 66 }
                    %option{ :value => "" } -
                    %option{ :value => "Genome" }
                      Genome
                    %option{ :value => "Transcriptome" }
                      Transcriptome
                    %option{ :value => "Epigenome" }
                      Epigenome
                    %option{ :value => "Metagenome" }
                      Metagenome
                    %option{ :value => "Cancer Genomics" }
                      Cancer Genomics
                    %option{ :value => "Other" }
                      Other
              .control-group    
                %label.control-label{ "for" => "platform" } Sequencing Instrument
                .controls
                  %select{ :id => "platform", :name => "platform", :width => 66 }
                    %option{ :value => "" } -
                    - @instruments.each do |instrument|
                      %option{ :value => instrument }= instrument
              .control-group
                .controls
                  %button.btn{ :type => "submit" }
                    submit condition
        
          .span6
            %p.lead Fulltext search
            %form.search{ :name => "search", :action => "/search", :method => "POST" }
              %label search without filtering
              %input.input-large.search-query{ :type => "text", :name => "search_query", :placeholder => "Type search query" }
              %button.btn{ :type => "submit" }
                search
      
      %hr
      %section
        .row
          .span3
          .span6
            %p.lead Search on DDBJ/EBI/NCBI, EGA and dbGaP
            %ul
              %li
                %a{ :href => "http://trace.ddbj.nig.ac.jp/DRASearch" } DRASearch/DDBJ DRA
              %li
                %a{ :href => "http://www.ebi.ac.uk/ena" } ENABrowser/EBI ENA
              %li
                %a{ :href => "http://www.ncbi.nlm.nih.gov/sra/advanced" } SRA Advanced Search Builder/NCBI SRA
              %li
                %a{ :href => "https://www.ebi.ac.uk/ega/studies" } Studies/EBI EGA
              %li
                %a{ :href => "http://www.ncbi.nlm.nih.gov/gap/advanced" } dbGaP Advanced Search Builder/NCBI dbGaP
          .span3
          
          
      %footer
        powered by
        %a{ :href => "http://dbcls.rois.ac.jp/en" }
          DBCLS
        , project licensed under CC-BY 2.1 JP. /
        Font Awesome by Dave Gandy - 
        %a{ :href => "http://fortawesome.github.com/Font-Awesome" }
          http://fortawesome.github.com/Font-Awesome
