!!!
%html
	%head
		%title no result - kusarinoko
		%meta{ :charset => "utf-8" }
		%link{ :rel => :stylesheet, :href => "http://g86.dbcls.jp/~iNut/kusarinoko_stylesheet.css", :type => "text/css" }
		
	%body
		.hako
			.neko
				%h1 No dataset found.
				.mya try again. your search query: #{@query}
				.nya{ :align => "right" }
					%h2 kusarinoko: Search SRA Entries with PubMed Article
				.mya{ :align => "right"} ...or, who has to do it might be yourself.
