!!!
%html
	%head
		%title 404 not found - kusarinoko
		%meta{ :charset => "utf-8" }
		%link{ :rel => :stylesheet, :href => "/kusarinoko/stylesheet.css", :type => "text/css" }
		
	%body
		.hako
			.neko
				.message
					%h1 404
				.caption hey, what are you looking for?
				.title{ :align => "right" }
					%h2
						%a{ :href => "/kusarinoko" } kusarinoko: Search SRA Entries with PubMed Article
				.subtitle{ :align => "right"} think different - unless it is the way to use a computer.
