!!!
%html
	%head
		%title try again - kusarinoko
		%meta{ :charset => "utf-8" }
		%link{ :rel => :stylesheet, :href => "/kusarinoko/stylesheet.css", :type => "text/css" }
		
	%body
		.hako
			.neko
				.message
					%h1 
						%b something wrong happened
				.caption sorry, try another word. your search query: #{@query}
				.title{ :align => "right" }
					%h2
						%a{ :href => "/kusarinoko" } kusarinoko: Search SRA Entries with PubMed Article
				.subtitle{ :align => "right"} give me one more chance.
