!!!
%html
	%head
		%title try again - kusarinoko
		%meta{ :charset => "utf-8" }
		%link{ :rel => :stylesheet, :href => "http://g86.dbcls.jp/~iNut/kusarinoko_stylesheet.css", :type => "text/css" }
		
	%body
		.hako
			.neko
				%h1 something wrong happened.
				.mya sorry, try another word. your search query: #{@query}
				.nya{ :align => "right" }
					%h2 kusarinoko: Search SRA Entries with PubMed Article
				.mya{ :align => "right"} tell me again, baby.
