!!!
%html
	%head
		%title kusarinoko - access denied
		%meta{ :charset => "utf-8" }
		%link{ :rel => :stylesheet, :href => "/kusarinoko/stylesheet.css", :type => "text/css" }
		%link{ :rel => "shortcut icon", :href => "http://g86.dbcls.jp/~iNut/images/kusarinoko_favicon.ico", :type => "image/x-icon" }

	%body
		.hako
			.neko
				.header{ :align => "right" }
					%font{ :size => "5000pt" } IE? NO.
				.browser
					%a{ :href => "http://apple.com/safari" }
						%font{ :size => "5000pt" } Safari
				.browser
					%a{ :href => "http://www.google.com/chrome" }
						%font{ :size => "5000pt" } Google Chrome
				.browser
					%a{ :href => "http://mozilla.com" }
						%font{ :size => "5000pt" } Firefox
				.browser{ :align => "right" }
					%a{ :href => "http://windows.microsoft.com/en-US/internet-explorer/products/ie/home" }
						or latest one
						%font{ :size => "10000000pt" } IE9
